<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="css/styles.css">


  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VJ3XJML9Z8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-VJ3XJML9Z8');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Dubninja.com is your solution for all your dubbing, subtitle, text to speech, and speech to text related challenges. We offer private beta services by invitation only. Contact us at hi@dubninja.com to request an invite.">
  <title>Dubninja - Your Solution for Dubbing, Subtitle, Text to Speech, and Speech to Text Challenges</title>
  <meta name="keywords" content="Dubninja, dubbing, subtitle, text to speech, speech to text, beta, invitation, hi@dubninja.com">
  <meta name="author" content="Your Name or Company Name">

  <!-- Open Graph meta tags for social media sharing -->
  <meta property="og:title" content="Dubninja - Your Solution for Dubbing, Subtitle, Text to Speech, and Speech to Text Challenges">
  <meta property="og:description" content="Dubninja.com is your solution for all your dubbing, subtitle, text to speech, and speech to text related challenges. We offer private beta services by invitation only. Contact us at hi@dubninja.com to request an invite.">
  <meta property="og:image" content="/img/user-ninja-solid.svg">
  <meta property="og:url" content="https://www.dubninja.com">
  <meta property="og:type" content="website">

  <!-- Twitter Card meta tags for Twitter sharing -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Dubninja - Your Solution for Dubbing, Subtitle, Text to Speech, and Speech to Text Challenges">
  <meta name="twitter:description" content="Dubninja.com is your solution for all your dubbing, subtitle, text to speech, and speech to text related challenges. We offer private beta services by invitation only. Contact us at hi@dubninja.com to request an invite.">
  <meta name="twitter:image" content="/img/user-ninja-solid.svg">

  <!-- Favicon -->
  <link rel="icon" href="/img/dub-ninja.ico" type="image/x-icon">
  <link rel="canonical" href="https://dubninja.com/">

</head>

<body>
  <!--import navbar-->
  <%- include('./components/navbar.ejs') %>

  <section class="hero">
    <div class="hero-content">
      <h1 class="hero-heading">Welcome to Our Amazing Website</h1>
      <p class="hero-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button class="cta-btn">Get Started</button>
    </div>
  </section>


  <!--import footer-->
  <%- include('./components/footer.ejs') %>

  <script src="js/script.js"> </script>

</body>

</html>